project/libs
project/gen
project/bin
project/obj
*.swp
*~
*.o
*.pyc
*.swo
*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
stamp-h1
m4
libtool
mapgenerator/src/bin/.deps
mapgenerator/AUTHORS
mapgenerator/COPYING
mapgenerator/ChangeLog
mapgenerator/INSTALL
mapgenerator/NEWS
mapgenerator/README

